*{
    padding: 0;
    margin: 0;
}

html,body{
    width: 100vw;
    height: 100vh;
}

#carrocelPefifericoNovo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: rgb(133, 132, 132);
}

#cards{
    display: flex;
    justify-items: center;
    background-color: black;
    height: 100%;
    width: 70%;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    background-color: rgb(236, 2, 2);
}

.livro{
    width: 70%;
    height: 70%;
    background-color: black;
}

.focar{
    width: 80% !important;
    height: 80% !important;
}

.sumir{
    display: none;
}