*{  
    margin: 0;
    padding: 0;
}

html,body,main{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    width: 350px;
    height: 650px;
    background-color: rgb(235, 235, 235);

    display: grid;
    grid-template-rows: 1fr 3fr;
    
    justify-items: center;
    align-items: center;
    position: absolute;
}

.logo{
    background-color: black;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

form{
    width: 100%;
    height: 100%;
}

.campo_input{
    display: flex;
    flex-direction: column;
}

.campo_input div{
    text-align: center;
    margin: 20px 0;
    width: 100%;
}

.input{
    outline: none;
    text-decoration: none;
    background-color: transparent;
    width: 90%;

    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);

    padding-left: 2px;
    font-size: 15px;
}

label{
    pointer-events: none;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
}

#campo_button{
    margin-top: 40px;
    text-align: center;
}

.ativo{
    border-color: black;
}

.subir{
    color: black;
    transition: transform 0.3s ease-in-out;
    transform: translatey(-20px);
}

.descer{
    color: rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
    transform: translatey(0px);
}

.ok{
    color: rgb(14, 141, 14);
    border-color: rgb(24, 219, 24);
}

.errado{
    color: rgb(173, 36, 36);
    border-color: rgb(210, 50, 50);
}

.noite{
    background-color: rgba(0, 0, 0, 0.732);
    color: rgba(255, 255, 255, 0.807);
}
.noite-fundo{
    background-color: rgba(0, 0, 0, 0.25);
}
.noite-fundo-2{
    background-color: rgb(158, 155, 155);
}