@charset "UTF-8";


header{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--cor1);
    width: 150px;
    height: 100%;
    overflow: hidden;
}

nav > .logoEtec{
    margin: 15px 0px 30px 0px ;
}

nav > a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.5rem;
}

nav > a:hover{
    background: var(--cor2);
    transition: 0.3s;
}

a .linkIcon{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.linkIcon > svg{
    width: 100%;
    height: 100%;
    fill: white;
}


svg path{
    width: 100%;
    height: 100%;
    fill: white;
}

a.active{
    background: var(--cor2);
}

.btnMenu{
    display: none;
}

@media screen and (max-width:300px) {
    .btnMenu{
        display: flex;
        margin-left: 50px;
    }
}